body {
  font-family: "Montserrat", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
  padding-top: 4rem; /* Adjust padding to match header height */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure header stays on top */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0; /* Ensure no extra margin */
}

nav ul li {
  display: inline;
  margin: 0 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  width: 100%;
  bottom: 0;
}

.projects, .about {
  padding: 2rem;
  margin-top: 4rem; /* Adjust margin to match header height */
}

.projects h1{
    text-align: center;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.project-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    width: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-height: 360px; /* Set minimum height to twice the current height */
    display: flex;
    justify-content: center;
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }

.project-content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10%;
  margin: 0 20px;
}

.project-info {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}


.video-container {
  flex-shrink: 0;
  width: 450px;
  height: 70%;
}

.project-card iframe {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.project-card .description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 4; /* Standard property */
  box-orient: vertical; /* Standard property */
}

.project-card .links {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
  }
  

.project-card .brief-description {
  margin-bottom: 1rem;
}

.project-card .bullet-points {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin: 0.5rem 0;
}

.project-card .bullet-points li {
  margin-bottom: 0.5rem;
}

.project-card .logos {
  display: flex;
  gap: 0.5rem;
}

.project-card .logo {
  width: 34px;
  height: 34px;
}

.project-card .title-and-logos {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.project-card .links {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.project-card .icon-link {
  display: inline-block;
  text-decoration: none;
}

.project-card .icon {
  width: 24px;
  height: 24px;
}

.project-card .icon-link:hover .icon {
  filter: opacity(0.6);
}

.project-card h3,
.project-card .brief-description,
.project-card .bullet-points li {
  line-height: 1.4; /* Adjust the line height as needed */
}

@media (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
  }

  nav a {
    margin: 0.5rem 0;
  }

  .project-card {
    width: 100%;
  }

  .project-card .project-content {
    flex-direction: column;
  }

  .project-card .video-container {
    margin-top: 1rem;
    width: 100%; /* Make video container full width on smaller screens */
    height: auto; /* Adjust height for responsive design */
  }

  .project-card iframe {
    height: auto; /* Adjust height for responsive design */
  }
}

@media (max-width: 480px) {
  .project-card {
    width: 100%;
  }
}